.header {
	overflow: auto;
	height: 3.5em;
	h1 {
		font: $main-font;
		font-size: 3em;
		margin: 0;
		width: auto;
		display: inline;
	}
	ul {
		list-style: none;
		height: 100%;
		li {
			display: inline-block;
			float:left;
			font-size: 1.5em;
			height: inherit;
			a {
				font-size: inherit;
				height: inherit;
				padding: 12px;
			}
		}
	}
	nav {
		height: inherit;
	}
}
