.header {
	overflow: auto;
	height: 3.5em;
	h1 {
		font: $main-font;
		font-size: 3em;
		margin: 0;
		width: auto;
		display: inline;
	}
	ul {
		list-style: none;
		li {
			float:left;
		}
	}
	nav {
		height: inherit;
	}
}
