<div class="dashboard">
	<div id="greeting-card">
		<h1>Greetings! </h1>
		<span>
			Welcome to the admin panel dashboard.
			From here, you can manage your articles, pages, uploads
			aswell as changing you accounts password.
			<br /><br />
			Below are some useful links, Enjoy your time!
		</span>
	</div>
</div>
