<h3>Files</h3>
<p>
	Manage your uploaded files. Here you can view the uploaded files. <br />
	Upload new file and delete uploaded files <br /><br />
</p>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>File</th>
		</tr>
	</thead>
	<tbody>
		<% @files.each do |item| %>
			<tr>
				<td><%= item.name %></td>
				<td><%= link_to "View File", item.attachment_url %>
			</tr>
		<% end %>
	</tbody>
</table>


