<% if !flash[:notice].blank? %>
	<div class = "alert alert-info">
		<%= flash[:notice] %>
	</div>
	<br/>
<% end %>
<div class="admin-container">
	<h2>All Images</h2>
	<div class="card white black-text">
		<div class="card-content">
			Here are all your images: <br />
			<%@images.reverse.each do |image| %>
			<% end %>
		</div>
	</div>
</div>
